@import url("https://www.cs.princeton.edu/courses/archive/spring18/cos226/css/link-icons.css");

body { font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; background: #E9EEE7}
p    { font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-top: 10px; margin-bottom: 0px; }

/* size of footer */
p.footer { font-size: 12px; font-style: italic; position: absolute; bottom: 0;}

/* size of footer hyperlink */
a.footer { font-size: 12px; }

/* size of blurb in introcs/home */
/* p.blurb { font-size: 12px; font-style: italic; line-height: 125%; } */

/* size of blurb in introcs/home */
p.blurb { font-size: 16px; font-style: italic; font-weight: 350; line-height: 140%; }

li {  font-size: 15px; margin-top: 6px;}

hr   { height:1px; color:#444444; }
code { font-family: Consolas, monaco, monospace; font-size: 14px; }
tt   { font-family: Consolas, monaco, monospace; font-size: 14px; }
blockquote { margin-left: 40px; margin-right: 0px; }
blockquote pre { font-family: Consolas, monaco, monospace; font-size: 13px; background-color:#ebebeb; padding: 10px 15px 10px 15px; }
blockquote pre.small { font-family: Consolas, monaco, monospace; font-size: 11px; background-color:#ebebeb;}
blockquote pre.tiny { font-family: Consolas, monaco, monospace; font-size: 10px; background-color:#ebebeb;}
pre { margin-left: 0px; font-family: Consolas, monaco, monospace; font-size: 13px; background-color:#ebebeb; padding: 10px 10px 10px 15px; }


em { font-style: italic; }


th { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5; font-weight: bold;  background-color: #666666; color:#ffffff; }
td { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-top: 20px;}
th a { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; line-height: 1.5; font-weight: bold;  background-color: #666666; color:#ffffff; }
td a { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; margin-top: 20px;}

td tt { font-family: Consolas, monaco, monospace; font-size: 13px; }

h1 { font-size: 22px; font-weight:normal; font-variant:small-caps; 
     background-color:#307D75;/*#4e6994 color antic*/   /* 221e1f = textbook black */
     /* background-color:#0b5fb9; */  /* 221e1f = textbook black */
     color:#FFFFFF; text-align: left; padding-right:15px; padding-left:20px;
     padding-top:6px;padding-bottom:6px;}

h1.center {text-align:center; }

h2 { font-size: 15px; display: inline; text-align: left; font-weight: bold; }
h3 { font-size: 20px;font-weight: bold; color:#059667;}
h4 { font-size: 22px; font-weight: bold; color:#1B6059; }     /* shade of green */
h4 a { font-size: 22px; font-weight: bold; color:#7c927b; }   /* for a name tages 00cc66 */

ol li        { list-style: decimal;     }
ol ol li     { list-style: lower-alpha; }
ol ol ol li  { list-style: lower-roman; }

ol li.qa { list-style: upper-alpha; }

ul li          { list-style: disc;    }
ul ul li       { list-style: circle;  }
ul ul ul li    { list-style: square;  }
ul ul ul ul li { list-style: disc;    }

a { font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300; line-height: 1.5; text-decoration: none; }

a:link    { color: #0b5fb9; }  /* shade of blue on cover = 436994 */
a:hover   { color: #aa3e3b; text-decoration: underline;  }




#content  { margin-left: 204px;
            padding-right: 1.5cm; padding-left: 1cm;
            padding-top: 0cm; padding-bottom: 0cm; }


/* http://www.tanfa.co.uk/css/examples/menu/tutorial-v.asp */


/***************************************************/

/* white on black headings */
#menu a.picture { color: #fff; background: #000;  text-decoration: none; font-size: 12px;
                 border-width: 0px; padding: 0px 0px;}


#menu {
float: left;
width: 190px;
/* background: #eee; */
background: #000;
position:fixed;
}

#menu ul {
list-style: none;
margin: 0;
padding: 0;
}

/* added this to override bullets */
#menu ul li          { list-style: none; }
#menu ul ul li       { list-style: none; }
#menu ul ul ul li    { list-style: none; }
#menu ul ul ul ul li { list-style: none; }

/* added this to override 6px top margin */
#menu li { margin: 0px;}

#menu a, #menu h2 {
/* changed from 12px/16px for thicker menu items */
font: bold 12px/18px arial, helvetica, sans-serif;
display: block;
border-width: 1px;
border-style: solid;
border-color: #ccc #888 #555 #bbb;
margin: 0;
padding: 2px 10px;  /* changed from 2px 3px */
}

#menu a.book  {  
line-height: 180%;
}

#menu a.booksite {  
line-height: 180%;
margin: 0;
padding: 0px 0px;
}

#menu h2 {
border-width: 0px;   /* added this - otherwise default is 1 from above */
color: #fff;
background: #000;
}


#menu a {
color: #000;
/* background: #efefef; */
background: #729FBA;
text-decoration: none;
}

/* white on black headings */
#menu a.title { color: #fff; background: #204962; cursor: pointer;}
#menu a.ex_easy {  color: #000; background: #cccccc;}
#menu a.ex_medium {  color: #000; background: #cccccc;}
#menu a.ex_hard {  color: #000; background: #cccccc;}


/* cover purple = 896e81 */
/* cover blue   = 4e6994 */
/* cover green  = 7c927b */
/* cover purple = 896e81 */
/* cover brown  = 907669 */
/* cover aqua   = 639397 */

#menu a:hover {
color: #204962;
background: #9EC4DB;
}

#menu ul ul a:hover {
color: #fff;
background: #356480;
}

#menu ul ul ul a:hover {
color: #fff;
background: #356480;
}


#menu ul ul ul {
position: absolute;
top: 0;
left: 0;
}


#menu li {position: relative;}

li.dropdown ul {
    display : block;
}

#menu ul ul ul {
position: absolute;
top: 0;
left: 100%;
width: 100%;
}

div#menu ul ul ul 
{display: none;}

div#menu ul ul li:hover ul 
{display: block;}

div#menu ul ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

div#menu ul ul li:hover ul 
{display: block;}

div#menu ul ul ul,
div#menu ul ul li:hover ul ul
{display: none;}

/* needed for third level */
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul
{display: block;}



img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.codeGif{
    width:300px;
    height:150px;
}

.gran{
    width:800px;
    height:800px;
}

.mitjana{
    width:500px; 
    height:500px; 
}

.petita{
    width:300px; 
    height:300px;
}


.allargatPetit{
    width:300px; 
    height:55px;
}

.menucontent{
    display: none;
}
[id^=collapse-input-] {
    display: none;
}
input:checked ~ .menucontent {
    display:block;
}

alerta{
    color:crimson;
    font-weight: bold;
}

teoria{
    text-align: justify;
    text-justify: inter-word;
    
}
exercici{
    font-style: italic;
    display = "block"
}

pseudocodi{
    font-style: italic;
    font-weight: bold;
}

exercici::first-line{
    font-weight: bold;
}

strong {
    font-weight: bold;
}

example button:active{
    display: none;
}
